<h1>Holaasdasd</h1>

{{!-- Partials --}}

{{>showProducts}}

    <div>
        {{#each products}}
            <div>
                <div>
                    <img src={{this.thumbnail}} alt={{this.id}}>
                </div>
                <h4>{{this.title}}</h4>
            </div>
        {{/each}}
    </div>
