<style>
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-family: sans-serif;
        min-height: 100vh;
    }
</style>
<section>
    <h1>Productos HBS</h1>
    {{#if showProducts}}
    {{>showProducts}}
        {{else}}
        <h1>No hay productos</h1>
    {{/if}}
        <a href="/" class="btn">Cargar un nuevo producto</a>
</section>